html, body {
    margin: 0;
}

.blackboard{
    width: 1200px;
    height: 1200px;
}

.timeTable{
    margin-left: 30px;
    margin-top: 50px;

}

.dotw{
    text-align:center;
    margin-bottom: 30px;
    font-weight: bold;
}
  
.dayLine{
    float:left;
    margin:8px;
    
}

#invisible{
    opacity: 0;
}

.classBlocks{
    border:1px solid gray;
    background-color:rgb(10,150,150);
    border-radius:5px;
    margin:10px;
    height:140px;
    width:120px;
    position: relative;
}
    
.leftPeriod{
    border:1px solid gray;
    background-color:rgba(120,120,120,0.7);
    border-radius:5px;
    margin:10px;
    height:140px;
    width:30px;
    padding-top: 50px;

}
    
.leftP{
    text-align:center;
}

.sundayBlock{
    background-color:rgb(150,0,0);
}

.editImage{
    position: absolute;
    top:100px;
    left:10px;
}

.deleteImage{
    position: absolute;
    top:100px;
    left:80px;
}
.timetable{
    z-index: 1;
}

.classDetail{
    z-index: 2;
    height: 400px;
    width: 300px;
    border:1px solid gray;
    border-radius: 8px;
    background-color:white;
    display:none;
    position: absolute;
    top: 70px;
    left:20px;
    opacity: 0;
    transition-duration:2s;
    overflow-y: scroll;
}

#tnurl{
    margin-left: 30px;
    margin-top: 30px;
}

.className{
    text-align: center;
    padding-top: 20px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    font-family: serif;
    
}

#tnRight{
    width:150px;
    margin-right: 10px;
}

#tnSubmit{
    background-color: black;
    color:white;
    border:none;
    font-size: smaller;
}

#creditSum{
    transform: translate(30px,0px);
}

.detailContents{
    margin:10px 10px 20px 10px;
    word-break:break-all;
}